{% extends "base.html" %} {% block title %}Communicate{% endblock %}
{% block main%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <title>Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
</head>

<!-- Try to figure out a way to put the javascript code in the socket.js file -->

<script type="text/javascript">
$(document).ready(function() {
    // Given all the messages the users have already sent, display them
    {% for message in messages %}
        $("#messages").append($('<p>').text("{{ message }}"));
    {% endfor %}

    // Connect to the socket and get the firstname of the user they have to send a message to
    var socket = io.connect("http://127.0.0.1:5000")

    var sendto_firstname_str = "{{ sendto_firstname }}";

    // On connection console log the current socketid
    socket.on("connect", function() {
        console.log(socket.id);
    });

    // When they recieve a message from the server call this function
    socket.on("message", (data) => {
        // If the message is that the user they want to send a message to is offline then alert the user
        // If the user they want to send a message to is not offline then show the message

        if (data == "offline") {
            alert("The user you want to send the message to is offline");
        } else {
            $("#messages").append($('<p>').text(data));
        }
    });

    // When the user clicks on the button to send a message then that message will be sent to the server
    $("#sendBtn").on("click", function() {
        // Sends the message to the server
        socket.emit("message", "{{ user.firstname }}" + ": " + $("#message").val(), sendto_firstname_str);
        // Clears the message text box once they send the message
        $("#message").val("");
    });
});
</script>

<div id="messages">

</div>
<input type="text" id="message" placeholder="Message">
<button id="sendBtn" class="btn btn-primary">Send</button>

<br><br>

<button onclick=clear_chat() class="btn btn-primary">Clear Chat</button>

<script>
    // This is the function that clears the chat when the clear chat button is pressed
    function clear_chat() {
        $('#messages').empty();
    }
</script>

</body>

</head>
</html>

{% endblock %}