{% extends "base.html" %} {% block title %}Communicate{% endblock %}
{% block main%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Communicate</title>
</head>
<body>

<form action="" method="post">

    {% for user in top.keys() %}
        Do you want to chat with: <input type="submit" class="button is-info" name="redirect" value="{{ user.firstname }}">
        Distance between this doctor and you is {{ top[user] }} km
        <br><br>
    {% endfor %}
</form>

</body>
</html>

{% endblock %}