{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block main%}
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
</head>
<h1 class="title" align="center">Submit your images here:</h1>
<div class="notification is-primary" align="center">
    <form method = "POST" enctype = "multipart/form-data">
        <input type="file" name="image" class="input is-rounded">
        <br><br>
        <button type="submit" class="button is-primary">Submit</button>
    </form>
</div>
{% if (predict==[None, None]) %}
  <h1></h1>
{% else %}
  <h1>We think you have {{predict[0]}} with an accuracy of {{predict[1] * 100}}%</h1>
{% endif %}

{% endblock %}
