{% extends "base.html" %} {% block title %}Communicate{% endblock %} 
{% block main%}
<html lang="en">
  <head>
    <title>Signup</title>
    <meta charset="utf-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sign-up.css') }}">
  </head>
<!--NOTE THIS IS THE SIGNUP FORM-->
  <body>
     <h1 class="title">Sign up</h1>
    <form method="POST" class="box">
    <div class="block">
      <label for="firstname" class="label">First Name</label>
      <input
        type="text"
        class="input"
        id="firstname"
        name="firstname"
        placeholder="Enter first name"
      />
    </div>
    <div class="block">
      <label for="lastname">Last Name</label>
      <input
        type="text"
        class="input"
        id="lastname"
        name="lastname"
        placeholder="Enter password"
      />
    </div>
    <br><br>
    <label for="email">Email Address</label>
    <input
      type="text"
      class="input"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="block">
    <label for="password">Password</label>
    <input
      type="password"
      class="input"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <br><br>
  <div class="block">
    <label for="confirmpassword">Confirm Password</label>
    <input
      type="password"
      class="input"
      id="confirmpassword"
      name="confirmpassword"
      placeholder="Enter password again"
    />
  </div>

  <div class="block">
    <label for="job">Are you a medical Practitioner or a patient</label>
    <select class="input" aria-label="Job" id="job" name="job">
      <option selected>Please select a value</option>
      <option value="medical">Medical Practitioner</option>
      <option value="patient">Patient</option>
    </select>
  </div>

  <div class="block">
    <label for="location">Location</label>
    <button type="button" class="button is-primary" onclick="getlocation()" id="location">
      Get Location
    </button>

    <br>
    
    <p id="loc">Please wait for the location to pop up before you submit the form</p>

    <input type='hidden' id='location' name='loc' value='' />
      
      <script>
        var variable1 = document.getElementById("loc");
        var variable2 = document.getElementById("location");
        
        function getlocation() {
          // change button to loading
          document.getElementById("location").classList.add("is-loading");
          navigator.geolocation.getCurrentPosition(showLoc);
          document.getElementById("location").classList.add("is-success");
          // change back to normal
        }
        function showLoc(pos) {
          variable2.value = pos.coords.latitude + " " + pos.coords.longitude;
          variable1.innerHTML =
            "Latitude: " +
            pos.coords.latitude +
            "<br>Longitude: " +
            pos.coords.longitude;
          document.getElementById("location").classList.remove("is-loading");
        }
      </script>
  </div>
  
  <br><br>
    <button type="submit" class="button is-primary"> Submit</button>
    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
    </form>
  </body>
</html>

{% endblock %}