{% extends "base.html" %} {% block title %}Communicate{% endblock %} 
{% block main%}
<html lang="en">
<h1 class="title" align="center">Symptoms Checker</h1>

<br>

{% if (predict==None) %}
  <h1></h1>
{% else %}
    {% for i in range( predict|length ) %}
        {% set disease_tuple = predict[i] %}
        <h1>For the top {{i + 1}} disease: We think you have {{disease_tuple[0]}} with an accuracy of {{100 * disease_tuple[1][1]}}%</h1>
        <h1>Here are the symptoms in our database for this disease: {{ disease_tuple[1][0]}}</h1>
        <br>
    {% endfor %}

<br>

If you would like a message to be sent to one of the following doctors please click on one of them:

<form action="" method="post">

<input value = "followup" type="hidden" name="form_type">

<input value = "{{ predict }}" type="hidden" name="top_5_prediction">


{% for user in top.keys() %}
    Do you want to chat with: <input type="submit" class="button is-info" name="redirect" value="{{ user.firstname }}">
    Distance between this doctor and you is {{ top[user] }} km
    <br><br>
{% endfor %}

</form>

{% endif %}

<br>

<!-- Below this is the symptoms chooser-->

<label>Enter your Symptoms</label>

<form method="POST">
    <input value = "symptoms" type="hidden" name="form_type">

    <div class="select">
        <select class="select is-primary is-medium" name="typediseasedropdown">
            <option>Please choose which type of disease you might have (This helps speeds up the search)</option>
            <option>Skin</option>
            <option>Ear</option>
            <option>Oral</option>
            <option>Nose</option>
        </select>
    </div>

    <br><br><br>

    <div id="symptoms-section">
        <button id="newsymptombtn" class="button is-success" type="button">Add a new Symptom</button>
        <button id="delsymptombtn" class="button is-success" type="button">Delete the last Symptom</button>

        <br><br>
        <div id="mainsymptom-group" class="block">
            <span class="tag is-info is-large" id="symptom-span">Symptom 1</span>
            <textarea id="symptom-textarea" name="formtextarea[]" class="input is-info" type="text" placeholder="Type your symptom" rows="1"></textarea>
        </div>
    </div>

    <br><br>

    <div>
        <button type="submit" class="button is-success"> Submit</button>
    </div>
</form>

<script>
    var num_symptoms = 1;
    document.getElementById("newsymptombtn").onclick = function() {
        num_symptoms += 1;

        var symptoms_section = document.getElementById("symptoms-section");
        var section = document.getElementById("mainsymptom-group");

        var new_section = section.cloneNode(true);

        new_section.querySelector("#symptom-span").innerHTML = "Symptom " + num_symptoms
        new_section.querySelector("#symptom-textarea").value = ""

        symptoms_section.appendChild(new_section);
    }

    document.getElementById("delsymptombtn").onclick = function() {
        var symptoms_section = document.getElementById("symptoms-section");

        if (num_symptoms > 1) {
            num_symptoms -= 1;
            symptoms_section.removeChild(symptoms_section.lastChild);
        }
    }
</script>


</html>

{% endblock %}